*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
}
body{
    width: 80%;
    margin: 0 auto;
}
li{
    display: inline;
    padding: 1%;
}
#menu, #contenido, #pie{
    background-color: #efefef;
    padding: 1%;
    margin: 1%;
}
.columna{
    width: 31.3%;
    float: left;
    margin: 1%;
    background-color: #efefef;
}
#principal{
    /*border: solid 1px black;*/
    overflow: auto;
}
#pie{
    /*margin-top:50px;*/
    /*clear:both;*/
}